.lead {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  padding: 22px 16px 50px;
}

@media (min-width: 425px) {
  .lead {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 78px 150px;
    /* width: 100%; */



  }
}
