.talking__subtitle {
  margin: 0;
  max-width: 60px;
  padding: 154px 0 55px 75px;
  font-family: 'roboto', Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
  font-size: 10px;
  text-decoration-color: #FECDA7;
}
