.talking__title {
  margin: 0;
  max-width: 600px;
  padding-left: 16px;
  padding-bottom: 60px;
  font-family: 'Basis Grotesque Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

@media screen and (min-width: 768px) {
  .talking__title {
    padding-left: 75px;
    padding-bottom: 138px;
    font-size: 40px;
  }
}
