.place {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .place {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .place:nth-child(2) {
    flex-direction: row-reverse;
  }
}
