.footer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  background-color: #FECDA7;
}

@media screen and (min-width: 768px) {
  .footer {
    min-height: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    width: 1440px;
    min-height: 697px;
  }
}
